.profile__add-button {
    background: url('../../../images/buttons/add-button.png') 50% / auto auto no-repeat;
    width: 282px;
    height: 50px;
    border: 1px solid #fff;
}

@media screen and (min-width: 622px) {
    .profile__add-button {
        width: 150px;
        height: 50px;
    }
}