@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

.page {
    background-color: #000;
    color: #fff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 622px) {
    .page {
        width: calc(100vw - 2 * 19px);
        max-width: 880px;
        margin: 0 auto;
    }
}

.header {
    min-height: 84px;
    padding-left: 27px;
    display: flex;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 622px) {
    .header {
        padding: 0;
        min-height: 119px;
    }
}

.header__logo {

}

@media screen and (min-width: 622px) {
    .header__logo {
        width: 142px;
    }
}

.main {
    margin-bottom: 12px;
}

@media screen and (min-width: 622px) {
    .main {
        margin-bottom: 6px;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

@media screen and (min-width: 622px) {
    .profile {
        flex-direction: row;
        padding: 40px 0 50px;
        margin-bottom: 0;
    }
}

.profile__avatar {
    width: calc(120 / 320 * 100%);
    border-radius: 50%;
    margin: 42px 0 26px;
}

@media screen and (min-width: 622px) {
    .profile__avatar {
        width: 120px;
        margin: 0;
    }
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr 190px 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 23px;
    align-items: center;
}

@media screen and (min-width: 622px) {
    .profile__info {
        margin: 0;
        flex: 1 1 auto;
        grid-template-columns: 30px 190px 1fr;
    }
}

@media screen and (min-width: 768px) {
    .profile__info {
        grid-template-columns: 30px 294px 1fr;
        align-items: end;
        justify-items: start;
    }
}

.profile__username {
    margin: 0;  
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    grid-column: 2/3;
}

@media screen and (min-width: 768px) {
    .profile__username {
        font-size: 42px;
    }
}

.profile__edit-button {
    background: url('../images/buttons/edit-button.png') 50% / auto auto no-repeat;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    margin-left: 9px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (min-width: 768px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        margin-left: 18px;
    }
}

.profile__description {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    grid-column: 2/3;
}

@media screen and (min-width: 768px) {
    .profile__description {
        font-size: 18px;
    }
}

.profile__add-button {
    background: url('../images/buttons/add-button.png') 50% / auto auto no-repeat;
    width: 282px;
    height: 50px;
    border: 1px solid #fff;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (min-width: 622px) {
    .profile__add-button {
        width: 150px;
        height: 50px;
    }
}

.places {
    width: calc(100% - 2 * 19px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
}

@media screen and (min-width: 622px) {
    .places {
        width: 100%;
        margin: 0;
    }
}

.place {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

.place__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
}

.place__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2 * 20px);
    min-height: 79px;
    margin: 0 auto;
}

.place__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 190px;
}

.place__like-button {
    background-image: url('../images/buttons/like-button.svg');
    background-color: #0000;
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
}

.place__like-button:hover {
    opacity: .6;
}

.footer {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    color: #545454;
    min-height: 86px;
    display: flex;
    align-items: center;
    padding-left: 19px;
}

@media screen and (min-width: 622px) {
    .footer {
        font-size: 18px;
        padding: 0;
        min-height: 138px;
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup__container {
    background-color: #fff;
    color: #000;
    width: calc(100% - 2 * 19px);
    max-width: 430px;
    min-height: 322px;
    box-sizing: border-box;
    padding: 25px 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .popup__container {
        min-height: 330px;
        padding: 34px 36px 37px;
    }
}

.popup__close-button {
    position: absolute;
    top: -36px;
    right: 0;
    background-image: url('../images/buttons/close-button.png');
    background-size: cover;
    background-color: #0000;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (min-width: 768px) {
    .popup__close-button {
        width: 32px;
        height: 32px;
        right: -36px;
    }
}

.popup__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .popup__title {
        font-size: 24px;
        line-height: 29px;
    }
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup__name {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.popup__description {
    width: 100%;
    margin-bottom: 45px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .popup__submit-button {
        font-size: 18px;
        height: 50px;
    }
}